<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servlet_cargaDatos</servlet-name>
        <servlet-class>SERVLET.servlet_cargaDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_Ajax</servlet-name>
        <servlet-class>SERVLET.servlet_Ajax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_buscarViaje</servlet-name>
        <servlet-class>SERVLET.servlet_buscarViaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletViajeSeleccion</servlet-name>
        <servlet-class>SERVLET.ServletViajeSeleccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDatosViajeros</servlet-name>
        <servlet-class>SERVLET.ServletDatosViajeros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAsientos</servlet-name>
        <servlet-class>SERVLET.ServletAsientos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>SERVLET.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistro</servlet-name>
        <servlet-class>SERVLET.ServletRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSeleccionTarjeta</servlet-name>
        <servlet-class>SERVLET.ServletSeleccionTarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarDatos</servlet-name>
        <servlet-class>SERVLET.ServletGuardarDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistroTarjeta</servlet-name>
        <servlet-class>SERVLET.ServletRegistroTarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBackup</servlet-name>
        <servlet-class>SERVLET.ServletBackup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet_cargaDatos</servlet-name>
        <url-pattern>/servlet_cargaDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_Ajax</servlet-name>
        <url-pattern>/servlet_Ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_buscarViaje</servlet-name>
        <url-pattern>/servlet_buscarViaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletViajeSeleccion</servlet-name>
        <url-pattern>/ServletViajeSeleccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDatosViajeros</servlet-name>
        <url-pattern>/ServletDatosViajeros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAsientos</servlet-name>
        <url-pattern>/ServletAsientos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistro</servlet-name>
        <url-pattern>/ServletRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSeleccionTarjeta</servlet-name>
        <url-pattern>/ServletSeleccionTarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarDatos</servlet-name>
        <url-pattern>/ServletGuardarDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistroTarjeta</servlet-name>
        <url-pattern>/ServletRegistroTarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBackup</servlet-name>
        <url-pattern>/ServletBackup</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
